<nav class="navigation">
    <h1><a href="index.html">Valia Liu</a></h1>
    <hr>
    <div class="category">
        <input type="checkbox" id="brandingc"><label for="brandingc">Branding</label><br>
        <input type="checkbox" id="websitec"><label for="websitec">Website</label><br>
        <input type="checkbox" id="editorialc"><label for="editorialc">Editorial</label><br>
        <input type="checkbox" id="posterc"><label for="posterc">Poster</label><br>
        <input type="checkbox" id="videoc"><label for="videoc">Video</label><br>
        <input type="checkbox" id="albumc"><label for="albumc">Album</label><br>
        <input type="checkbox" id="modelingc"><label for="modelingc">Modeling</label>
    </div>
    <div class="filter-controls">
        <button id="all">All</button>
        <button id="clear">Clear</button>
    </div>
    <hr>
    <h1 style="margin-bottom: var(--body-padding);">
        <a href="about.html">About</a><br>
    </h1>
    <h1>
        <a href="mailto:valialiuwork@gmail.com">Email↗</a>
    </h1>
</nav>