<nav class="navigation">
    <h1><a href="/cocoon1.0/index.html">Valia Liu</a></h1>
    <hr>
    <div class="category">
        <label><input type="checkbox" id="brandingc"> Branding</label>
        <label><input type="checkbox" id="websitec"> Website</label>
        <label><input type="checkbox" id="editorialc"> Editorial</label>
        <label><input type="checkbox" id="posterc"> Poster</label>
        <label><input type="checkbox" id="videoc"> Video</label>
        <label><input type="checkbox" id="albumc"> Album</label>
        <label><input type="checkbox" id="modelingc"> Modeling</label>
    </div>       
    <div class="filter-controls">
        <button id="all">All</button>
        <button id="clear">Clear</button>
    </div>
    <hr>
    <h1>
        <a href="/cocoon1.0/index.html">About</a><br>
        <a href="mailto:valialiuwork@gmail.com">Email↗</a>
    </h1>

    <footer class="nav-footer">
        © Valia Liu 2025
    </footer>
</nav>